<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <style>
    /* Dropdown Button */
    .search-filters {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .search-filters select,
    .search-filters input {
      margin-right: 10px;
      padding: 8px;
    }

    .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      right: 0; /* Align the dropdown content to the right */
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }

    /* Add this to handle the stretching animation of the contact button */
    .dropbtn {
      transition: height 0.5s;
    }
  </style>
</head>

<body>
  <!-- Header Section -->
  <header class="bg-black py-4">
    <div class="container mx-auto flex items-center justify-between">
      <!-- Logo or site name can be added here if needed -->

      <!-- Stylish User Profile and Exchange Buttons on the right -->
      <div class="flex items-center space-x-4 ml-auto pr-5">
        <div class="dropdown">
          <button class="text-white px-4 py-2 border border-gray-900 rounded-lg bg-green-500 hover:bg-green-600" style="font-weight: bold;" onclick="window.location.href = '/login'">
            Profile 
          </button>
          <div class="dropdown-content">
            <a href="/login">My account</a>
            <a href="/join-us/add-post">Exchange a book</a>
          </div>
        </div>
        <button class="text-white px-4 py-2 border border-gray-900 rounded-lg bg-green-500 hover:bg-green-600" style="font-weight: bold;" onclick="window.location.href = '/login'">
          Connexion 
        </button>
      </div>
    </div>
  </header>

  <section class="bg-black">
    <div class="container px-5 py-12 mx-auto lg:px-20">
      <div class="mb-8 text-white">
        <div class="text-white">
          <h1 class="text-3xl font-medium mb-4">
            Trade the Pages, Share the Knowledge
          </h1>
          <p class="text-base leading-relaxed">
            Latest posts...
          </p>
        </div>
      </div>

      <form action="/Accueil" method="get" class="search-filters">
        <div class="dropdown">
          <select id="genre" name="genre">
            <option value="" disabled selected>Genre</option>
            <option value="All">All genres</option>
            <option value="comedy">Comedy</option>
            <option value="romance">Romance</option>
            <option value="drama">Drama</option>
            <option value="action">Action</option>
            <option value="science_fiction">Science Fiction</option>
            <option value="thriller">Thriller</option>
            <option value="fantasy">Fantasy</option>
            <option value="history">History</option>
            <option value="horror">Horror</option>
            <option value="children_book">Children book</option>
          </select>
        </div>

        <!-- Time Added Dropdown -->
        <div class="dropdown">
          <select id="timeAdded" name="timeAdded">
            <option value="" disabled selected>Date added</option>
            <option value="earliest">Earliest</option>
            <option value="latest">Latest</option>
          </select>
        </div>

        <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Filter</button>
      </form>
      
      {% for book in books %}
    <div id="postBlock{{ book.id }}" class="flex flex-wrap items-start justify-start w-full transition duration-500 ease-in-out transform bg-gray-800 border-2 border-gray-600 rounded-lg hover:border-white mb-8 shadow-md relative">
      <div class="w-full xl:w-1/4 md:w-1/4 lg:w-1/5">
        <div class="relative flex flex-col h-full p-8">
          <img src="data:image/png;base64,{{ book.image }}" alt="Book Cover" style="max-width: 100%; max-height: 200px;" width="180" height="170">
        </div>
      </div>
      <div class="w-full xl:w-1/2 md:w-1/2 lg:w-3/5 xl:pr-6 md:pr-6">
        <div class="relative flex flex-col h-full p-8">
          <h2 class="mb-4 font-semibold tracking-widest text-white uppercase text-2xl">
            {{ book.title }}
          </h2>
          <p class="mb-2 text-lg font-normal text-gray-300">
            Genre: {{ book.genre }}
          </p>
          <p class="mb-2 text-lg font-normal text-gray-300">
            Desired Genre: {{ book.desired_genre }}
          </p>
          <p class="mb-4 text-sm text-gray-400">
            Description: {{ book.description }}
          </p>

          <!-- Write your message area and Submit button -->
          <div class="mb-4">
            <form onsubmit="submitMessage(event, '{{ book.id }}', '{{ book.email }}')">
              <!-- Email Input for sender's email -->
              <input type="email" name="email" placeholder="Your email" class="block border rounded w-full px-4 py-3 mb-2" required>
              
              <!-- Message Textarea -->
              <textarea name="message" placeholder="Write your message..." class="block border rounded w-full h-40 px-4 py-3 mb-2 resize-none" required></textarea>
              
              <!-- Submit Button -->
              <div id="messageContainer"></div>
              <!-- Update your button to call the sendMessage function -->
              <button type="button" onclick="sendMessage('{{ book.id }}', '{{ book.email }}'); window.location.href = '/message_sent'" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Send to owner</button>
              
              


            </form>
          </div>
        </div>
      </div>

      <div class="w-48 xl:w-1/4 md:w-1/4 lg:w-1/5 xl:pl-6 md:pl-6 lg:pl-4 ml-auto">
        <div class="relative flex flex-col h-full p-8">
          <h1 class="flex items-end text-2xl font-black leading-none text-white mb-4">
            <span class="timeAgo" data-created="{{ book.created_at.isoformat() }}"></span>
          </h1>
        </div>
      </div>
    </div>
  {% endfor %}

      <script>
         function sendMessage(bookId) {
        // Get email and message from the form
        var emailInput = document.querySelector('input[name="email"]');
        var messageInput = document.querySelector('textarea[name="message"]');

        // Check if email and message are not empty
        if (!emailInput.value || !messageInput.value) {
            // Display an error message (you can customize this part)
            alert('Please fill in both email and message fields.');
            return;
        }

        // Prepare the data for the POST request
        var data = new FormData();
        data.append('email', emailInput.value);
        data.append('message', messageInput.value);

        // Make a POST request to the FastAPI endpoint
        fetch(`/${bookId}`, {
            method: 'POST',
            body: data,
        })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Handle the response as needed

                // Check if the response indicates success
                if (data.success) {
                    // Display a success message (you can customize this part)
                    alert('Message has been sent successfully!');
                    // Optionally, reset the form or perform any other actions

                } else {
                    // Display an error message (you can customize this part)
                    alert('Error sending message. Please try again.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Display an error message (you can customize this part)
                alert('Error sending message. Please try again.');
            });
    }

  // JavaScript code for calculating and displaying time difference for each post
  var timeAgoElements = document.querySelectorAll('.timeAgo');

  timeAgoElements.forEach(function (element) {
      var createdDate = new Date(element.getAttribute('data-created'));
      var currentTime = new Date();

      var timeDifference = currentTime - createdDate;
      var seconds = Math.floor(timeDifference / 1000);
      var minutes = Math.floor(seconds / 60);
      var hours = Math.floor(minutes / 60);
      var days = Math.floor(hours / 24);
      var weeks = Math.floor(days / 7);

      if (weeks > 0) {
          element.textContent = 'Added : ' + (weeks === 1 ? '1 week ago' : weeks + ' weeks ago');
      } else if (days > 0) {
          element.textContent = 'Added : ' + (days === 1 ? '1 day ago' : days + ' days ago');
      } else if (hours > 0) {
          element.textContent = 'Added : ' + (hours === 1 ? '1 hour ago' : hours + ' hours ago');
      } else if (minutes > 0) {
          element.textContent = 'Added : ' + (minutes === 1 ? '1 minute ago' : minutes + ' minutes ago');
      } else {
          element.textContent = 'Added : Just now';
      }
  });
function toggleMessageForm(bookId) {
  var messageForm = document.getElementById('messageForm' + bookId);
  var postBlock = document.getElementById('postBlock' + bookId);
  var contactBtn = document.querySelector('.dropbtn');

  if (messageForm.style.display === 'none' || messageForm.style.display === '') {
    // Expand the post block
    postBlock.style.height = postBlock.scrollHeight + 'px';
    // Stretch the contact button
    contactBtn.style.height = contactBtn.scrollHeight + 'px';
  } else {
    // Collapse the post block
    postBlock.style.height = 'initial';
    // Shrink the contact button
    contactBtn.style.height = 'initial';
  }

  messageForm.style.display = (messageForm.style.display === 'block') ? 'none' : 'block';
}

function submitMessage(event, bookId) {
  event.preventDefault();
  var messageForm = document.getElementById('messageForm' + bookId);
  var postBlock = document.getElementById('postBlock' + bookId);

  // Collapse the post block after submission
  postBlock.style.height = 'initial';

  // Add your logic to handle the form submission (e.g., sending a message to the owner)
}
      </script>

    </div>
  </section>

</body>

</html>
